<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<%= link_to 'New Task', new_task_path %>

<div class='list-group'>
    <div class='list-group-item list-group-item-dark'>
      <div class='row'>
        <div class='col-1'> Id       </div>
        <div class='col-1'> Project  </div>
        <div class='col-1'> Effort   </div>
        <div class='col-lg'>Title    </div>
        <div class='col-lg ellipsable'>Description</div>
        <div class='col-1'> Status   </div>
        <div class='col-1'> Priority </div>
      </div>
    </div>
  <% @tasks.each do |task| %>
    <div class='list-group-item list-group-item-action'>
      <div class='row'>
        <div class='col-1'><%= task.id %></div>
        <div class='col-1'>
          <%= task.project.name unless task.project.nil? %>
        </div>
        <div class='col-1'>
          <div data-toggle'tooltip' data-placement='bottom'
            title='<%= task.effort.description%>'>
            <%= task.effort.name %>
          </div>
        </div>
        <div class='col-lg'><%= link_to task.title, task %></div>
        <div class='col-lg ellipsable'><%= task.description %></div>
        <div class='col-1'>
          <div class='badge badge-<%= task.status.bootstrap_color%>'>
            <%= task.status.name %>
          </div>
        </div>
        <div class='col-1'><%= get_priority_pill task.priority %> </div>
      </div>
    </div>
  <%end%>
</div>

<br>

<%= link_to 'New Task', new_task_path %>
