<p id="notice"><%= notice %></p>

<H1>

  <% unless @task.project.nil? %>
    <%= link_to  @task.project.name, @task.project, class: 'text-muted' %> /
  <% end %>
  <%= @task.title %>
</H1>
<div class='bottom-username'>
  Created by: <%= link_to @task.creator.username, @task.creator,
    class: 'text-muted' %>
</div>

<% unless @task.parent.nil? %>
  <div class='card-stack'>
    <div class='card card-description stack-child-index0'>
      <div class='card-body'>
        <h4 class='card-title'>
          <%= link_to @task.parent.title, @task.parent, class: 'text-muted' %>
        </h4>
        <div class='card-text'>
          <%= @task.parent.description %>
        </div>
      </div>
    </div>
<% end %>
<div class='card card-description stack-child-index1'>
  <div class='card-body'>
    <h4 class='card-title'>Description</h4>

    <div class='card-status'>
      <div class="badge badge-<%= @task.status.bootstrap_color %>">
        <%= @task.status.name %>
      </div>
    </div>

    <p class='card-text'>
      <%= @task.description %>
    </p>
  </div>
  <div class='card-controlls' data-toggle='tooltip'
    data-placement='bottom' title='Edit'>

    <%= link_to  fa_icon('edit'), edit_task_path(@task),
      class: 'pull-right text-muted' %>
  </div>
</div>
<% unless @task.parent.nil? %> </div> <% end %>

<div class='card-stack'>
<% if task_children = get_task_children_stack %>
  <% task_children.reverse.each.with_index do |t, idx| %>
    <div class='card <%= 'stack-child-index' + idx.to_s %>'>
      <div class='card-body'>
        <h6 class='card-title'><%= link_to t.title, t, class: 'text-muted'%></h6>
        <div class='card-text ellipsable'><%= t.description %></div>
        <div class='card-status'>
          <div class="badge badge-<%= t.status.bootstrap_color %>">
            <%= t.status.name %>
          </div>
        </div>
      </div>
    </div>
  <%end%>
<% end %>
</div>
<%= commentable_form @task %>
