<div class="modal fade" id="statusChangeModal" tabindex="-1" role="dialog" aria-labelledby="statusChange" aria-hidden="true">
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='statusChange'>Change Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        You are about to change the Status of the
        <%= statusable.model_name.name %> from
          <span class='text-<%= statusable.status.bootstrap_color%>'>
        <%= statusable.status.name %></span> to
      <span id='new_status' ></span>
        <%= form_with(model: statusable, id: 'status_form') do |form|%>
          <%= form.hidden_field :status_id,
            id:    statusable.model_name.name + '_status',
            value: statusable.status.id %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>

        <button type="submit" form='status_form'class="btn btn-primary">
          Change status
        </button>
      </div>
    </div>
  </div>
</div>
