<%= form_with(model: effort, local: true) do |form| %>
  <% if effort.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(effort.errors.count, "error") %> prohibited this effort from being saved:</h2>

      <ul>
      <% effort.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :effort_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :effort_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
